*{
    font-family: 'Roboto', sans-serif;
}

/* Menu */
.navbar-nav li.nav-item:hover {
    border-bottom: 3px solid white;
}

.btn-success{
    padding: 0px, 7px, 0px, 7px;
}
.btn-success:hover {
    background-color: #f7f7f7;
    color: green;
}

/* Main */
.conteiner{
    margin-top: 4%;
    background-color: #64C37D;
    padding: 32px 70px;
    gap: 10px;
    text-align: center;
    color: white;
}


/* Barra de Pesquisa */
.custom-search-input {
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    width: 3000px;
    transition: border-color 0.3s ease-in-out;
    margin-top: 1%;
    margin-bottom: 1%;
}


.conteiner2{
    background:white;
    color: black;
    display: inline;
    display: flex;
    padding: 32px 70px;
    gap: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);;
}

.h2-SobreNos{
    color: #64C37D;
}

.conteudo{
    padding: auto;
    margin: 5%;
}

.custom-btn{
    margin-top:6%;
    color:#ffffff;
    padding: 10px;
    border-radius: 5px;
}
.custom-btn:hover{
    background-color: #64C37D;
    color: white;

}



.conteiner3{
        margin: 32px 70px;
        padding-bottom: 10px;
}

.card-deck{
margin: 5%; 
}

.custom-card {
    border-radius: 8px;
    padding: 0px!important;
}

.custom-card .card-title {
    font-size: 1rem; /* Tamanho da fonte do título do card */
}

.card-footer{
    font-size: 1rem;
}

/* carousel */
.carousel-inner{
    padding:3% 8.9%;
}

.carousel-indicators li {
    background-color: #ccc; /* Cor de fundo dos indicadores inativos */
    border: 1px solid #000000; /* Borda dos indicadores inativos */
    border-radius: 50%; /* Forma circular */
    width: 12px; /* Largura do indicador */
    height: 12px; /* Altura do indicador */
    margin: 0 6px; /* Espaçamento entre os indicadores */
}

.carousel-indicators .active {
    background-color: #333; /* Cor de fundo do indicador ativo */
}

.carousel-control{
    font-size:2rem;
    color: #64C37D;
}
/* roda pe */
footer{
    background-color: #d9d9d9;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #d9d9d9;
    background-color: black;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid black;
    color: black;
    background-color: #d9d9d9;
}
.footer-col .form-sub input::placeholder{
    color: black;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #d9d9d9;
    border-radius: 3px;
    font-weight: bold;
    background-color: black;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}