
/* Menu */

.navbar-expand-lg{
    background-color:#000000;
    padding: auto;
}

.navbar-nav li.nav-item:hover {
    border-bottom: 3px solid rgb(255, 255, 255);
}

.btn-success{
    padding: 0px, 7px, 0px, 7px;
}
.btn-success:hover {
    background-color: #f7f7f7;
    color: green;
}

/* main */
.conteiner{
    background-color:#64C37D;
    color: rgb(255, 255, 255);
    display: inline;
    display: flex;
    gap: 10px;
    padding-top: 3em;
    padding-right: 7em;
    padding-bottom: 0em;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

.conteudo{
    padding-top: 10em;
    margin: 4%;
}

.custom-search-input {
    border:none;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 16px;
    width: 400px;
    transition: border-color 0.3s ease-in-out;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
.custom-search-input:focus {
    border:2px solid black;
}

.empresas{
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: white;
    color: black;
    margin: 5%;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: 5em;
}

.custom-cadastro{
    margin: 5%;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: white;
}

.cadadastro-vagas{
    display: flex;
}

.card-custom-vagas{
    border-radius: 8px;
}
.card-custom-vagas:hover{
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
} 

.h5-ou{
    padding-top: 5em;
}

#cadastroModal {
    font-family: Arial, sans-serif;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.modal-body {
    padding: 1.5rem;
}

.modal-footer {
    padding: 1rem;
}

/* Estilizando os campos de formulário */
.form-group label {
    font-weight: bold;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 0;
}

/* Estilizando os botões */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}






/* roda pe */
footer{
    background-color: #d9d9d9;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #d9d9d9;
    background-color: black;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid black;
    color: black;
    background-color: #d9d9d9;
}
.footer-col .form-sub input::placeholder{
    color: black;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #d9d9d9;
    border-radius: 3px;
    font-weight: bold;
    background-color: black;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

    .empresas{
        display: inline-block!important;
        padding: 0px;
    }

    .img-vagas img{
        max-width: 100%!important;
    }
    .img-vagas{
        max-width: 100%!important;
    }

    .logo-empresa img{
        display: block;
        margin-left: 42%;
    }


}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }


}
