/* Menu */
.navbar-nav li.nav-item:hover {
    border-bottom: 3px solid white;
}

.btn-success{
    padding: 0px, 7px, 0px, 7px;
}
.btn-success:hover {
    background-color: #f7f7f7;
    color: green;
}


.conteiner{
    background-color:#64c37d;
    align-items: center;
    gap: 10px;
    color: white;
    padding-top: 9%;
    padding-bottom: 5%;
}

.custom-search-input {
    border: 2px solid #3498db;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    width: 900px;
    transition: border-color 0.3s ease-in-out;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
.custom-search-input:focus {
    border:2px solid black;
}

.empresas{
    padding: 50px;
    background-color: white;
    color: black;
}




/* roda pe */
footer{
    background-color: #d9d9d9;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #d9d9d9;
    background-color: black;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid black;
    color: black;
    background-color: #d9d9d9;
}
.footer-col .form-sub input::placeholder{
    color: black;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #d9d9d9;
    border-radius: 3px;
    font-weight: bold;
    background-color: black;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
    .empresas-img{
        display: block!important;
    }
    .empresas-img img{
        max-width: 100%;
    }
}
